// Define our font rules
@font-face {
  font-family: 'Monofur';
  src: url('/fonts/monofur.woff2') format('woff2'),
       url('/fonts/monofur.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Define our colour palette
$black: #18191c;
$red: #ff7e70;
$green: #a9ff7a;
$yellow: #fff475;
$blue: #75a5ff;
$magenta: #ff7aa9;
$cyan: #75ffcf;
$white: #eeeee9;
// Define the palette as a map to help clean up this source code
$palette: (
  'black': $black,
  'red': $red,
  'green': $green,
  'yellow': $yellow,
  'blue': $blue,
  'magenta': $magenta,
  'cyan': $cyan,
  'white': $white,
);
// Other variables
$font-family: "Monofur", monospace;
$font-size: 16px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
  background-color: $black;
  overflow-x: hidden;
  overflow-y: auto;
}

input {
  background-color: $black;
  color: $white;
  border: 0;
  outline: none;
  flex-grow: 2;

  font-family: $font-family;
  font-size: $font-size;
}

a {
  // Try to make the links as visible and different as possible
  text-decoration: none;
  border-bottom: 1px dotted $white;
  display: inline-block;
  color: inherit;

  // Add coloured, dotted underlines to differentiate the links from regular underlined text.
  // Add the colour palette
  @each $name, $colour in $palette {
    // Allow for two different ways; the link inside a coloured span, and the link with a colour class
    .#{$name} & {
      border-color: #{$colour};
    }
    &.#{$name} {
      border-color: #{$colour};
    }
  }
}

#terminal {
  height: calc(100% - 4px);
  width: calc(100% - 10px);
  padding: 2px 5px;

  font-family: $font-family;
  font-size: $font-size;
  color: $white;

  display: flex;
  flex-direction: column;

  // Spans for styling output text
  .underline {
    text-decoration: underline;
  }

  // Add the colour palette
  @each $name, $colour in $palette {
    & .#{$name} {
      color: #{$colour};
    }
  }
}

.input-wrapper, .output-wrapper {
  display: flex;
}

.summary-table {
  // Table for the output of the summary command
  th {
    font-weight: inherit;
    text-align: left;
  }

  td:first-child {
    color: $yellow;
    text-align: right;

    &::before {
      content: '\00a0\00a0\00a0\00a0';
    }
    &::after {
      content: '\00a0-\00a0';
      color: $white;
    }
  }
}

// Hide the label so it's only available to screen readers
label {
  display: none;
}
