@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700&display=swap');
@import 'node_modules/xterm/dist/xterm';

// Define our colour palette
$black: #18191c;
$red: #ff7e70;
$green: #a9ff7a;
$yellow: #fff475;
$blue: #75a5ff;
$magenta: #ff7aa9;
$cyan: #75ffcf;
$white: #eeeee9;

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100vw;
  height: 100vh;
  background-color: $black;
  overflow: hidden;
}

#terminal {
  height: calc(100% - 4px);
  width: calc(100% - 10px);
  padding: 2px 5px;
  overflow-x: hidden;
  overflow-y: auto;

  font-family: "Source Code Pro";
  font-size: 16px;
  color: $white;

  display: flex;
  flex-direction: column;

  // Spans for styling output text
  .red {
    color: $red;
  }
  .green {
    color: $green;
  }
  .yellow {
    color: $yellow;
  }
  .blue {
    color: $blue;
  }
  .magenta {
    color: $magenta;
  }
  .cyan {
    color: $cyan;
  }
  .underline {
    text-decoration: underline;
  }
}

.input-wrapper, .output-wrapper {
  display: flex;
}

#input {
  background-color: $black;
  color: $white;
  border: 0;
  outline: none;
  flex-grow: 2;

  font-family: "Source Code Pro";
  font-size: 16px;
}
