language: node_js
node_js:
  - "8"
cache:
  directories:
    - "node_modules"

stages:
  - name: deploy
    if: branch = master
jobs:
  include:
    # Deploy the thing to Chrome Web Store automatically
    - stage: deploy
      script: bash deploy.sh

# Turn off email notifs
notifications:
  email: false
